@model string

<h3>Welcome to Legendary, @Model!</h3>
<img class="intro-image" src="~/img/intro.png" />
<p style='padding-top: 30px'>
    This server is running all-original Legendary 0.1a code (C#) on the ASP.NET Core platform.<br />
    <br />Legendary is based on the work of Crypticant & Virigoth on Aabahran, The Forsaken Lands. &copy; 2000-2022.<br />
    Inspired by the original Diku MUD by Hans Staerfelt, Katja Nyboe, Tom Madsen, Michael Seifert, Sebastian Hammer,<br />
    and MERC 2.1 by Hatchet, Furey, and Kahn. Based on the world of Mystra &copy; 2021 by Matthew Martin.
</p>
<p>You are now connected! Enjoy your stay.</p>