@model string
<p style='padding-top: 30px'>
    This server is running all-original Legendary code (C#) on the ASP.NET Core platform. Legendary is based on the work of Crypticant & Virigoth on Aabahran, The Forsaken Lands. &copy; 2000-2020. Inspired by the original Diku MUD by Hans Staerfelt, Katja Nyboe, Tom Madsen, Michael Seifert, Sebastian Hammer, and MERC 2.1 by Hatchet, Furey, and Kahn. Based on the world of Mystra &copy; 2021-2022 by Matthew Martin. Coded from scratch by Crypticant (Matthew Martin). <a href="https://www.thelegendarygame.com">Website</a>. Legendary features over 14 hours of original music scored by Humans Win (formerly Lance Conrad) with some work from Gushito.
</p>
<p>Want to contribute? Follow this project on <a href="https://github.com/Usualdosage/Legendary">GitHub</a>.</p>