@model string
<img class="intro-image" src="~/img/intro.png" />
<h3>Welcome to Legendary, @Model!</h3>
<p style='padding-top: 30px'>
    This server is running all-original Legendary code (C#) on the ASP.NET Core platform.<br />
    <br />Legendary is based on the work of Crypticant & Virigoth on Aabahran, The Forsaken Lands. &copy; 2000-2022.<br />
    Inspired by the original Diku MUD by Hans Staerfelt, Katja Nyboe, Tom Madsen, Michael Seifert, Sebastian Hammer,<br />
    and MERC 2.1 by Hatchet, Furey, and Kahn. Based on the world of Mystra &copy; 2021-2022 by Matthew Martin.<br/>
    Coded from scratch by Crypticant (Matthew Martin). <a href="https://www.thelegendarygame.com">Website.</a>
</p>
<p>Want to contribute? Follow this project on <a href="https://github.com/Usualdosage/Legendary">GitHub</a>.</p>
<p>This is a PRERELEASE ALPHA VERSION. Expect chaos.</p>
<p><b>You are now connected! Enjoy your stay.</b></p>