bin/
obj/
*.suo
*.user
/.vs/Legendary/DesignTimeBuild/.dtbcache.v2
/.vs/Legendary/v17/.futdcache.v1
/.vs/Legendary/project-colors.json
/.vs/Legendary_MUD/project-colors.json
/.vs/slnx.sqlite~Stashed changes
/.vs/VSWorkspaceState.json
/.vs/Legendary/xs/
*.user
.DS_Store
sqlnx.sqlite
/Properties/launchSettings.json
/Properties/PublishProfiles/*.pubxml
appsettings.json
appsettings.Development.json