<h1>Companion Tester</h1>
<link href="~/css/companion.css" rel="stylesheet" />
<form action="@Url.Action("Companion")" method="post">
    <input type="text" placeholder="Enter your name" name="Username" />
    <input type="text" placeholder="Enter the companion name" name="Persona" />
    <input type="submit" value="Eńter" />
</form>