@model string

<div class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <form action="@Url.Action("CreateCharacter")" method="post">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="card-title">Create a Character</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">This is a pre-release ALPHA build. Do not expect stability, or for changes to be saved. Expect chaos.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><input type="text" class="form-control" placeholder="Enter first name" name="firstName" /></li>
                            <li class="list-group-item"><input type="text" class="form-control" placeholder="Enter last name" name="lastName" /></li>
                            <li class="list-group-item"><input type="password" class="form-control" placeholder="Enter password" name="password" /></li>
                            <li class="list-group-item"><input type="submit" class="btn btn-primary" value="Create" />&nbsp;<a class="btn btn-secondary" href="@Url.Action("Login")">Back</a></li>
                            <li class="list-group-item"><p class="alert">@Model</p></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        &copy;2022 Legendary
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
