@model UserModel

<div class="audio-controls" style="display: none">
    <div>Audio Controls <button onclick="toggleMute()"><i id="muteButton" class="fa-solid fa-volume-high"></i></button></div>
    <div>
        <span>Music</span><input type="range" min="1" max="100" value="30" class="slider" onchange="changeBgAudio(this)" id="audioBackground">
    </div>
    <div>
        <span>Effects</span><input type="range" min="1" max="100" value="100" class="slider" onchange="changeSfxAudio(this)" id="audioSFX">
    </div>
    <div>
    </div>
</div>

<div class="audio-channels">
    <audio id="channel0"></audio>
    <audio id="channel1"></audio>
    <audio id="channel2"></audio>
    <audio id="channel3"></audio>
    <audio id="channel4"></audio>
    <audio id="channel5"></audio>
    <audio id="channel6"></audio>
    <audio id="channel7"></audio>
</div>

<div class="console-container">
    <div id="console">
        <p class="loader"><i class="fas fa-spinner fa-spin" style="margin-right: 10px;"></i> One moment while we establish a secure connection to Legendary...</p>
        <div id="loader_image"></div>
    </div>
    <div id="input">
        <input type="text" id="inputField" placeholder="Type message and press enter." />
    </div>
</div>

@section Scripts {
    <script>
        $(function () {

            const client = new LegendaryClient();
            client.Connect();

            $("#inputField").focus();
            
        });

        const image_error = function (e) {
            const loader = document.getElementById('loader_image');
            loader.style.display = 'none';
            e.src = "../../img/rooms/none.png";
        }

        const image_load = function (e) {
            const loader = document.getElementById('loader_image');
            loader.style.display = 'none';
        }
        
    </script>
}