@model string

<div class="console-container">
    <div id="console"></div>
    <div id="input">
        <input type="text" id="inputField" placeholder="Type message and press enter." />
    </div>
</div>

@section Scripts {
    <script>$(function () {
        const client = new LegacyClient();
        client.Connect();
    });</script>
}