@model string

<form action="@Url.Action("Index")" method="post">
    <div class="container" style="margin-top: 75px">
        <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login to Legendary</h5>
                    <p class="card-text">This is a pre-release ALPHA build. Do not expect stability, or for changes to be saved. Expect chaos.</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input type="text" class="form-control" placeholder="Enter user name" name="username" /></li>
                        <li class="list-group-item"><input type="password" class="form-control" placeholder="Enter password" name="password" /></li>
                        <li class="list-group-item"><p class="alert">@Model</p></li>
                    </ul>
                    <input type="submit" class="btn btn-primary" value="Login" />
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="@Url.Action("CreateUser")">Create User</a>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
       </div>
</form>

