<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/18ac062e-e3a2-488e-8190-0b6b4e46cb7e/resourceGroups/legendary-mud_group/providers/Microsoft.Web/sites/legendary-mud</ResourceId>
    <ResourceGroup>legendary-mud_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://legendary-mud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>legendary-mud.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>legendary-mud</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$legendary-mud</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>