@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

@font-face {
    font-family: 'BeyondWonderland';
    src: url('../fonts/BeyondWonderland.ttf') format('truetype');
}

@font-face {
    font-family: 'Balgruf';
    src: url('../fonts/Balgruf.otf') format('truetype');
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.visually-hidden {
    display: none;
}

/* Login/Create Pages */

.card {
    box-shadow: 5px 5px 5px #666;
}

.card-body .row {
    padding: 5px;
}

.charinput {
    width: 100%;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
}

.statinput {
    width: 50px;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    text-align: center;
}

.descinput {
    width: 100%;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    height: 120px;
}

.input-label {
    float: left;
    color: #666;
    font-size: 0.8em;
}

/* Static Content */

.console-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#console {
    height: 100%;
    border: solid 1px #ccc;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Balgruf', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: scroll;
    bottom: 30px;
    position: absolute;
}

#input {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
}

#inputField {
    width: 100%;
    height: 40px;
}

.loader {
    padding: 15px;
    border: solid 1px #ccc;
    width: 350px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #222;
}

    .loader i {
        color: cornflowerblue;
    }

.error {
    color: red;
    font-family: Courier New, Courier, monospace;
}

.message {
    padding: 3px;
    display: block;
    max-width: 1024px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    height: 100%;
    width: 100%;
    background-image: url('../img/Mystra.jpg');
    background-position: center;
    background-size: cover;
}

.intro-image {
    border: solid 1px #ccc;
    border-radius: 5px;
}

.intro-title {
    font-family: 'BeyondWonderland', 'Comforter', cursive;
    margin-top: 20px;
    font-size: 3em;
}

/* Descriptive Content */

.command {
    width: 100px;
    display: inline-block;
    padding: 5px;
    color: aquamarine;
}

.player-info {
    position: fixed;
    top: 10px;
    right: 25px;
    width: 215px;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px;
}

.player-title {
    display: inline-block;
    text-align: center;
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
    font-size: 2em;
    font-family: 'BeyondWonderland', 'Comforter', cursive;
}

.player-armor {
    font-size: 1.4em;
    font-weight: bold;
}

.wear-table {
    border: none;
    width: 400px;
    font-size: .9em;
}

    .wear-table td {
        padding: 2px;
    }

.wear-table-location {
    width: 150px;
}

.wear-table-item {
    
}

.condition {
    border-top: solid 1px #ccc;
}

table {
    width: 100%;
    padding: 0px;
}

td {
    font-size: .8em;
    padding: 5px;
}

progress {
    width: 150px;
    border: solid 1px #aaa;
    border-radius: 2px;
    background-color: #000;
}

    progress::-webkit-progress-bar {
        background-color: #000;
    }

#health::-webkit-progress-value {
    background-color: red !important;
}

#mana::-webkit-progress-value {
    background-color: green !important;
}

#move::-webkit-progress-value {
    background-color: blue !important;
}

/* Room Data */

.room-title {
    font-family: 'Balgruf';
    font-weight: bold;
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.room-image {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    border-radius: 5px;
    position: fixed;
    bottom: 50px;
    right: 25px;
}

    .room-image img {
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

.room-description {
    margin-bottom: 5px;
}

    .room-description span {
        margin-bottom: 5px;
    }

.player-info {
    display: block;
}

.item {
    padding-left: 10px;
    display: block;
}

.mobile {
    display: block;
    padding-left: 5px;
}

.exits {
    display: block;
    color: #999;
}

.inventory {
    display: block;
    font-style: italic;
}

.inventory-item {
    display: block;
    padding-left: 10px;
}

.city {
    color: #999 !important;
}

.mountains {
    color: #7d6704 !important;
}

.grasslands {
    color: #aee681 !important;
}

.water {
    color: #2262c9 !important;
}

.swamp {
    color: #615a4e !important;
}

.air {
    color: #75e0df !important;
}

.beach {
    color: #d9d684 !important;
}

.hills {
    color: #c7b289 !important;
}

.ethereal {
    color: mediumpurple !important;
}

.forest {
    color: #3d9949 !important;
}

.jungle {
    color: #105719 !important;
}

.desert {
    color: #c7c6a1 !important;
}

.snow {
    color: #fff;
}

/* Communication Channels */

.say {
    color: yellow;
    font-weight: bold;
}

.yell {
    color: cyan;
    font-weight: bold;
}

.tell {
    color: darkgreen;
    font-weight: bold;
}

.newbie {
    color: #fff;
    font-weight: bold;
}

.wizmessage {
    color: #666;
    font-weight: bold;
}

/* Player Score */
.player-score {
    border: solid 1px #ccc;
    width: 500px;
    border-radius: 5px;
    background-color: #333;
}

    .player-score table {
    }

.player-score-title {
    font-family: 'BeyondWonderland', 'Comforter', cursive;
    font-size: 2em;
    width: 100%;
    text-align: center;
    display: block;
}

.player-desc-title {
    font-family: 'BeyondWonderland', 'Comforter', cursive;
    font-size: 2em;
    width: 100%;
    text-align: left;
    display: block;
}

.player-description {
    font-family: 'Balgruf';
    font-size: 1em;
    width: 100%;
    text-align: left;
    display: block;
}

.player-condition {
    font-family: 'Balgruf';
    font-size: 1em;
    width: 100%;
    text-align: justify-all;
    display: block;
}

.player-wear {
    font-family: 'Balgruf';
    font-size: 1em;
    width: 100%;
    text-align: justify-all;
    display: block;
}

.wear-location {
    font-family: 'Balgruf';
    font-size: 1em;
    width: 100%;
    text-align: left;
    display: block;
}

/* Combat Things */

.damage {
    color: indianred;
    font-weight: bold;
}

.spellWords {
    color: deeppink;
    font-weight: bold;
}