@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

/* Static Content */

.console-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#console {
    height: 100%;
    border: solid 1px #ccc;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    padding: 10px;
    padding-top: 30px;
    overflow-y: scroll;
    bottom: 30px;
    position: absolute;
}

#input {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
}

#inputField {
    width: 100%;
}

.message {
    padding: 3px;
    display: block;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    height: 100%;
    width: 100%;
}

.intro-image {
    border: solid 1px #ccc;
    border-radius: 5px;
}

/* Descriptive Content */

.player-info {
    position: fixed;
    top: 10px;
    right: 25px;
    width: 215px;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px;
}

.player-title {
    display: inline-block;
    text-align: center;
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
    font-size: 2em;
    font-family: 'Comforter', cursive;
}

.condition {
    border-top: solid 1px #ccc;
}

table {
    width: 100%;
    padding: 0px;
}

td {
    font-size: .8em;
    padding: 5px;
}

progress {
    width: 150px;
    border: solid 1px #aaa;
    border-radius: 2px;
    background-color: #000;
}

    progress::-webkit-progress-bar {
        background-color: #000;
    }

#health::-webkit-progress-value {
    background-color: red !important;
}

#mana::-webkit-progress-value {
    background-color: green !important;
}

#move::-webkit-progress-value {
    background-color: blue !important;
}

.room-title {
    color: mediumpurple;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.room-image {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: 25px;
}

    .room-image img {
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

.room-description {
    margin-bottom: 5px;
}

    .room-description span {
        margin-bottom: 5px;
    }

.player-info {
    display: block;
}

.item {
    padding-left: 10px;
    display: block;
}

.mobile {
    display: block;
    padding-left: 5px;
}

.exits {
    display: block;
    color: #999;
}

.inventory {
    display: block;
    font-style: italic;
}

.inventory-item {
    display: block;
    padding-left: 10px;
}

/* Communication Channels */

.say {
    color: yellow;
    font-weight: bold;
}

.yell {
    color: cyan;
    font-weight: bold;
}

.tell {
    color: darkgreen;
    font-weight: bold;
}

.newbie {
    color: #fff;
    font-weight: bold;
}

/* Player Score */
.player-score {
    border: solid 1px #ccc;
    width: 500px;
    border-radius: 5px;
    background-color: #333;
}

    .player-score table {
    }

.player-score-title {
    font-family: 'Comforter', cursive;
    font-size: 2em;
    width: 100%;
    text-align: center;
}