@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@font-face {
    font-family: 'BeyondWonderland';
    src: url('../fonts/BeyondWonderland.ttf') format('truetype');
}

@font-face {
    font-family: 'Balgruf';
    src: url('../fonts/Balgruf.otf') format('truetype');
}

@font-face {
    font-family: 'Elf';
    src: url('../fonts/Elf.otf') format('truetype');
}

@font-face {
    font-family: 'Drow';
    src: url('../fonts/Drow.ttf') format('truetype');
}

@font-face {
    font-family: 'Dwarf';
    src: url('../fonts/Taibaijan.otf') format('truetype');
}

@font-face {
    font-family: 'FireGiant';
    src: url('../fonts/Kingfire.otf') format('truetype');
}

@font-face {
    font-family: 'StoneGiant';
    src: url('../fonts/bravemountains.otf') format('truetype');
}

@font-face {
    font-family: 'StormGiant';
    src: url('../fonts/iefuthrk.ttf') format('truetype');
}

@font-face {
    font-family: 'HalfOrc';
    src: url('../fonts/F-Rotten_Font.ttf') format('truetype');
}

@font-face {
    font-family: 'Avian';
    src: url('../fonts/Ghastly Panic.ttf') format('truetype');
}

@font-face {
    font-family: 'Gnome';
    src: url('../fonts/MCF Glowins.ttf') format('truetype');
}

@font-face {
    font-family: 'Faerie';
    src: url('../fonts/Night of the Fireflies.ttf') format('truetype');
}

@font-face {
    font-family: 'Halfling';
    src: url('../fonts/TableShank.ttf') format('truetype');
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #222;
    color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    text-shadow: 3px 3px #000;
}

/* Globals */

h3 {
    font-family: 'Balgruf';
    font-size: 1.6em;
    color: maroon;
}

h4 {
    font-family: 'Balgruf';
    font-size: 1.2em;
    color: maroon;
}

h5 {
    font-family: 'Balgruf';
    font-size: 1.2em;
    color: mediumseagreen;
    margin-top: 5px;
}

h6 {
    font-family: 'Balgruf';
    font-size: 1em;
    color: mediumseagreen;
    margin-top: 5px;
}

.warning {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    color: Red;
    font-weight: bolder;
}

.wait {
    background-image: url(../img/loading.gif);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
}

.typing
{
    height: 16px;
    margin-left: 6px;
    margin-bottom: 6px;
}

.pk {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
}

#toast {
    position: absolute;
    background-color: beige;
    color: #222;
    width: 275px;
    height: 86px;
    bottom: 50px;
    right: 270px;
    border: solid 1px #000;
    border-radius: 5px;
    overflow: auto;
    font-size: .7em;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
    opacity: .7;
    cursor:help;
}

.toast-min {
    position: absolute;
    background-color: beige;
    color: #222;
    width: 24px !important;
    height: 24px !important;    
    bottom: 50px;
    right: 270px;
    transition: ease;
}

[data-bs-toggle="tooltip"]
{
    cursor: help;
}

/* Mini-Map */
#mini-map {
    width: 216px;
    height: 212px;
    background-color: #222;
    margin: 0px;
    padding: 0px;
}

#explored {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#span_explored
{
    display: inline;
}

/* Message */

.tox {
    height: 400px;
    width: 100%;
    margin-top: 10px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        color: #333;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.email-address {
    color: #fff;
    font-size: 1em;
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    background-color: #0d6efd;
    margin-right: 5px;
    cursor: default;
}

.email-address-input {
    width: 120px;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin-right: 10px;
}

.validator {
    background-color: red;
    display: inline-block;
    margin: 4px;
    display: none;
}

.newMessage {
    display: inline;
    border: solid 1px #ccc;
    font-size: .5em;
    border-radius: 6px;
    background-color: yellow;
    color: #333;
    padding: 2px;
}

.message-list-item
{

}

/* Group Info */
.group-info {
    display: block;
    padding: 5px;
}

.group-name {
    font-family: 'Balgruf';
    font-size: 1.1em;
    color: maroon;
    display: block;
    width: 100%;
    border-bottom: solid 1px #ccc;
}

.group-member {
    display: block;
    width: 100%;
    padding: 5px;
    border-bottom: solid 1px #333;
}

.group-member-level {
    width: 100px;
    text-align: left;
    display: inline-block;
}

.group-member-name {
    width: 200px;
    text-align: left;
    display: inline-block;
}

.group-progress {
    display: inline-block;
    width: 200px;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin-right: 10px;
    margin-top: 7px;
}

/* Spell/Skill Effects */

.translucent {
    color: teal;
}

.sanctuary {
    color: white;
    font-weight: bold;
}

.invisibility {
    color: #666;
    font-weight: bold;
}

.hide {
    color: #666;
    font-weight: bold;
}

/* Languages */

.Elf {
    font-family: 'Elf';
    font-size: 1em;
}

.Dwarf {
    font-family: 'Dwarf';
    font-size: 1em;
}

.HalfElf {
    font-family: 'Elf';
    font-size: 1em;
}

.HalfOrc {
    font-family: 'HalfOrc';
    font-size: 1em;
}

.Gnome {
    font-family: 'Gnome';
    font-size: 1em;
}

.Avian {
    font-family: 'Avian';
    font-size: 1em;
}

.StoneGiant {
    font-family: 'StoneGiant';
    font-size: 1.2em;
}

.StormGiant {
    font-family: 'StormGiant';
    font-size: 1em;
}

.FireGiant {
    font-family: 'FireGiant';
    font-size: 1.1em;
}

.Drow {
    font-family: 'Drow';
    font-size: 1em;
}

.Duergar {
    font-family: 'Dwarf';
    font-size: 1em;
}

.Halfling {
    font-family: 'Halfling';
    font-size: 1em;
}

.Faerie {
    font-family: 'Faerie';
    font-size: 1em;
}

/* Skill and Spell Trees */
.tree-table {
    width: 100%;
}

    .tree-table td {
        width: 20%;
        text-shadow: none !important;
        vertical-align: top;
    }

.tree-header {
    text-align: center;
    border-top: solid 1px gold;
    border-bottom: solid 1px gold;
    font-family: 'Balgruf';
        background-color: #333;
}

.group-header {
    text-align: left;
    font-size: .9em;
    padding-left: 50px;
}

    .group-header h1 {
        text-shadow: none !important;
    }

    .group-header div {
        width: 100%;
    }

.group-content {
    font-size: .65em;
}

    .group-content ul {
        margin-left: 10px;
    }

    .group-content ul li {
        color: #fff;
        font-style: italic;
        list-style-type: none;
    }

        .group-content ul li i {
            color: lightgreen;
            font-style: italic;
        }

        .group-content ul li progress {
            margin-top: 3px;
            margin-bottom: -2px;
        }

        .group-content ul li.unlearned {
            color: #888
        }


/* Player Console */

.console-container {
    height: 100%;
    margin-top: -40px;
}

.console {
    height: 100%;
    border: solid 1px #666;
    overflow-y: scroll;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 80px;
    /* Firefox */
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #333 #888; /* scroll thumb and track */
    background-image: url('../img/console-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#username
{
    margin: 0px !important;
    margin-top: 5px !important;
}

#title
{
    margin: 0px !important;
}

.align-Good {
    color: lightblue;
}

.align-Neutral
{
    color: yellow;
}

.align-Evil
{
    color: red;
}

.align-Good-dark {
    color: darkcyan;
}

.align-Neutral-dark {
    color: beige;
}

.align-Evil-dark {
    color: maroon;
}

#banner {
    width: 100%;
    height: 120px;
    border: solid 1px #ccc;
    background-color: #000;
    text-align: center;
    font-family: "Balgruf";
    font-size: 3em;
    line-height: 120px;
    vertical-align: middle;
    border-radius: 5px;
    background-image: url('../img/Mystra.jpg');
    background-size: cover;
    background-position: center;
    color: maroon;
}

/* Chrome */
.console::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
}

.console::-webkit-scrollbar-track {
    background: #888; /* color of the tracking area */
}

.console::-webkit-scrollbar-thumb {
    background-color: #333; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

.audio-channels {
    display: none;
}

.input {
    height: 40px;
}

#inputField {
    background-color: #333;
    color: #eee;
    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #666, #333);
    background: -o-linear-gradient(left, #666, #333);
    background: -moz-linear-gradient(left, #666, #333);
    background: linear-gradient(left, #666, #333);
    border: none !important;
}

::placeholder { /* Most modern browsers support this now. */
    color: #ccc;
}

input:focus {
    outline: none;
}

.control-panel {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    background-image: url("../img/panel-bg.jpeg");
    background-repeat: repeat;
    background-size: contain;
    overflow: hidden;
}

    .control-panel h3 {
        width: 100%;
        text-align: center;
        font-family: Balgruf;
        font-size: 1.3em;
        padding: 0px;
        margin-top: 10px;
    }

    .control-panel h4 {
        width: 100%;
        font-family: "Balgruf";
        font-size: .9em;
        text-align: center;
    }


.component {
    width: 100%;    
    border: solid 1px #666;
    border-radius: 5px;
    margin-top: 8px;
    padding: 4px;
    box-shadow: 3px 3px 3px #000;
    background-color: #222;
    
}

button {
    width: 100%;
    font-size: .8em;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    border: solid 1px #333;
    font-family: 'Balgruf';
    background-color: #999;
}

.image-caption {
    text-align: center;
    font-size: .7em;
    font-style: italic;
    height: 65px;
    overflow: auto;
    /* Firefox */
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #333 #888; /* scroll thumb and track */
}

.image-container {
    height: 240px !important;
}

.image-content
{
    height: 230px !important;
}

/* Chrome */
    .image-caption::-webkit-scrollbar {
        width: 8px; /* width of the entire scrollbar */
    }

    .image-caption::-webkit-scrollbar-track {
        background: #888; /* color of the tracking area */
    }

    .image-caption::-webkit-scrollbar-thumb {
        background-color: #333; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
    }

.component-time-weather {
    font-size: .7em;
    font-style: italic;
    height: 110px;
    overflow: auto;
    /* Firefox */
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #333 #888; /* scroll thumb and track */
}

/* Chrome */
    .component-time-weather::-webkit-scrollbar {
        width: 8px; /* width of the entire scrollbar */
    }

    .component-time-weather::-webkit-scrollbar-track {
        background: #888; /* color of the tracking area */
    }

    .component-time-weather::-webkit-scrollbar-thumb {
        background-color: #333; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
    }

.loader {
    padding: 15px;
    border: solid 1px #ccc;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #222;
}

    .loader i {
        color: cornflowerblue;
        margin-right: 20px;
    }

    .component img {
        width: 100%;
        height: 250px;
    }

    .component .form-label {
        font-size: .8em;
        padding: 0px;
        margin: 0px;
    }

    .component .form-range {
        padding: 5px;
    }

.component .nav-table {
    width: 100%;
    height: 200px;
}

component .vol-table {
    width: 100%;
    padding: 0px;
}

        .component .nav-table tr td {
            width: 33%;
            text-align: center;
        }

            .component .nav-table tr td .nw {
                transform: rotate(-45deg);
            }

            .component .nav-table tr td .ne {
                transform: rotate(45deg);
            }

            .component .nav-table tr td .se {
                transform: rotate(-45deg);
            }

            .component .nav-table tr td .sw {
                transform: rotate(45deg);
            }

            .component .nav-table tr td .nav-arrow {
                width: 50px;
                font-size: 16px;
                text-align: center;
                margin: 0px;
                padding: 0px;
                cursor: pointer;
            }

                .component .nav-table tr td .nav-arrow:hover {
                    width: 50px;
                    font-size: 16px;
                    text-align: center;
                    margin: 0px;
                    padding: 0px;
                    cursor: pointer;
                    color: cornflowerblue;
                }

.nav-center {
    width: 80px !important;
}

.nav-up {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 5px;
    font-family: 'Balgruf';
    width: 80px !important;
    height: 40px !important;
}

.nav-down {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 5px;
    font-family: 'Balgruf';
    width: 80px !important;
    height: 40px !important;
}

.progress {
    margin: 5px;
}

.tooltip div {
    background-color: #fff !important;
    color: #000;
    box-shadow: 3px 3px 3px #000;
}

.tooltip .tooltip-arrow {
    display: none;
}

.message {
    padding: 3px;
    display: block;
    max-width: 100%;
}

/* End Main Layout */

/* Descriptive Content */

.command {
    width: 100px;
    display: inline-block;
    padding: 5px;
    color: aquamarine;
}

.wear-table {
    border: none;
    width: 800px;
}

    .wear-table td {
        padding: 2px;
    }

.wear-table-location {
    width: 180px;
}

.wear-table-item {
}

.skillspell {
    width: 250px;
    display: inline-block;
    text-align: left;
    padding: 10px;
}

.condition {
    border-top: solid 1px #ccc;
}

.scan {
    display: block;
    text-indent: 20px;
    padding: 3px;
}

.map {
    margin: 10px;
    display: block;   
}

    .map img {
        border-radius: 10px;
        height: 700px;
    }

/* Room Data */

.room-title {
    font-family: 'Balgruf';
    font-weight: bold;
    border-bottom: solid 1px #ccc;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.room-description {
    margin-bottom: 5px;
}

    .room-description span {
        margin-bottom: 5px;
    }

.room-video {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

video {
    width: 90%;
    border: solid 1px #666;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #444;
    margin-bottom: 50px;
}

    .room-video i {
        color: aquamarine;
    }

.item {
    padding-left: 10px;
    display: block;
}

.mobile, .player {
    display: block;
    padding-left: 5px;
}

.exits {
    display: block;
    color: #999;
}

.inventory {
    display: block;
    font-style: italic;
}

.inventory-item {
    display: block;
    padding-left: 10px;
}

.city {
    color: #999 !important;
}

.mountains {
    color: #7d6704 !important;
}

.grasslands {
    color: #aee681 !important;
}

.water {
    color: #2262c9 !important;
}

.swamp {
    color: #615a4e !important;
}

.air {
    color: #75e0df !important;
}

.beach {
    color: #d9d684 !important;
}

.hills {
    color: #c7b289 !important;
}

.ethereal {
    color: mediumpurple !important;
}

.forest {
    color: #3d9949 !important;
}

.jungle {
    color: #105719 !important;
}

.desert {
    color: #c7c6a1 !important;
}

.snow {
    color: #fff !important;
}

.shallows {
    color: aqua !important;
}

/* Communication Channels */

.say {
    color: yellow;
    font-weight: bold;
}

.yell {
    color: cyan;
    font-weight: bold;
}

.tell {
    color: darkgreen;
    font-weight: bold;
}

.gtell {
    color: #b521b0;
    font-weight: bold;
}

.pray {
    color: lightblue;
    font-weight: bold;
}

.newbie {
    color: dodgerblue;
    font-weight: bold;
}

.wizmessage {
    color: #666;
    font-weight: bold;
}

    .wizmessage i {
        display: inline-block;
        color: sandybrown;
    }

/* Player Score */

.player-score {
    width: 100%;
    background-color: #333;
    padding: 10px;
}

    .player-score-title {
    font-family: 'BeyondWonderland', 'Comforter', cursive;
    font-size: 2em;
    width: 100%;
    text-align: center;
    display: block;
}

.player-score-info {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.2em;
}

.player-desc-title {
    font-family: 'BeyondWonderland', 'Comforter', cursive;
    font-size: 2em;
    width: 100%;
    text-align: left;
    display: block;
}

.score-container {
    border: solid 1px #888;
    border-radius: 5px;
    margin-top: 10px;
}

.alt {
    background-color: #333;
}

.player-description {
    font-family: 'Balgruf';
    font-size: 1em;
    width: 100%;
    text-align: left;
    display: block;
}

.player-condition {
    font-family: 'Balgruf';
    font-size: 1em;
    width: 100%;
    text-align: justify-all;
    display: block;
}

.player-wear {
    font-family: 'Balgruf';
    font-size: 1em;
    width: 100%;
    text-align: justify-all;
    display: block;
}

.who {
    margin-left: 10px;
    display: block;
    width: 100%;
}

.wear-location {
    font-size: 1em;
    width: 100%;
    text-align: left;
    display: block;
}

.player-affect {
    text-indent: 10px;
}

.player-section {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Balgruf';
    border-bottom: solid 1px #444;
    border-top: solid 1px #444;
    padding: 5px;
}

.label {
    font-weight: 700;
}

.player-health {
    font-style: italic;
    font-weight: bold;
    text-indent: 15px;
    color: #ff5c64;
}

.currency-gold {
    display: inline-block;
    vertical-align: middle;
    min-width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    font-size: 10px;
    font-family: Courier New, Courier, monospace;
    text-shadow: none;
    color: #222;
    border: solid 1px brown;
    background-color: gold;
    padding-top: 4px;
}

.currency-silver {
    display: inline-block;
    vertical-align: middle;
    min-width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    font-size: 10px;
    font-family: Courier New, Courier, monospace;
    text-shadow: none;
    color: #222;
    border: solid 1px #666;
    background-color: silver;
    padding-top: 4px;
}

.currency-copper {
    display: inline-block;
    vertical-align: middle;
    min-width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    font-size: 11px;
    font-family: Courier New, Courier, monospace;
    text-shadow: none;
    color: #222;
    border: solid 1px brown;
    background-color: sandybrown;
    padding-top: 4px;
}

/* Skills and Spells */
.skillgroups, .spellgroups {
    width: 100%;
    display: inline-block;
}

    .skillgroups div, .spellgroups div {
        margin-bottom: 20px;
    }

.skillgroup, .spellgroup {
    width: 100%;
    font-family: 'Balgruf';
    display: block;
    border-bottom: solid 1px #222;
    margin-bottom: 5px;
}

.skillinfo, .spellinfo {
    width: 320px;
    display: inline-block;
    text-indent: 20px;
}

.skillprogress, .spellprogress {
    display: inline-block;
    width: 40px;
    height: 12px;
}

/* Equipment Status */

.equipmentwear {
    display: inline-block;
    margin-left: 10px;    
}

    .equipmentwear > progress {
        width: 60px;
        height: 12px;
    }

/* Combat Things */
.damage {
    color: indianred;
    font-weight: bold;
}

.damage_0 {
    color: #aaa;
}

.spellWords {
    color: deeppink;
    font-weight: bold;
}

/* Item Decorations */

.item_glow_yellow {
    color: yellow;
}

.item_glow_blue {
    color: deepskyblue;
}

.item_glow_red {
    color: red;
}

.item_glow_orange {
    color: orange;
}

.item_glow_purple {
    color: purple;
}

.item_glow_green {
    color: green;
}

.item_glow_dark {
    color: darkgray;
}

.item_glow_white {
    color: white;
}

.item_hum {
    color: #666;
    font-style: italic;
}

/* Random things */
.dice {
    margin: 3px;
}

/* Help Files */
.help-text {
}

    .help-text h4 {
        font-size: 1.1em;
        font-weight: bold;
        font-family: 'Balgruf';
        color: goldenrod;
    }

    .help-text ul li {
        font-weight: bold;
        color: #ccc;
        font-family: Courier New, Courier, monospace;
    }

        .help-text ul li em {
            color: aquamarine;
            font-family: Courier New, Courier, monospace;
        }


/* Award Medals */

.award-container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.award-message {
    display: inline-block;
    border: solid 1px #666;
    padding: 10px;
    font-weight: bold;
    color: dodgerblue;
}

.award {
    width: 140px;
    height: 80px;
    display: inline-block;    
    text-align: center;
}

.quiz-medal {
    position: relative;
    display: inline-block;
}

.quiz-medal-circle {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 500;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    color: white;
    text-align: center;
    line-height: 46px;
    vertical-align: middle;
    position: relative;
    border-width: 0.2em;
    border-style: solid;
    z-index: 1;
    box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-color: #edeff1;
    text-shadow: 2px 2px 0 #98a6ad;
    background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
}

    .quiz-medal-circle.quiz-medal-circle-platinum {
        box-shadow: inset 0 0 0 #b67d05, 2px 2px 0 rgba(0, 0, 0, 0.08);
        border-color: #edeff1;
        text-shadow: 0 0 4px #98a6ad;
        background: linear-gradient(to bottom right, #dcedf6 50%, #cccccc 50%);
    }

    .quiz-medal-circle.quiz-medal-circle-gold {
        box-shadow: inset 0 0 0 #b67d05, 2px 2px 0 rgba(0, 0, 0, 0.08);
        border-color: #fadd40;
        text-shadow: 0 0 4px #9d6c04;
        background: linear-gradient(to bottom right, #f9ad0e 50%, #e89f06 50%);
    }

    .quiz-medal-circle.quiz-medal-circle-silver {
        box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgba(0, 0, 0, 0.08);
        border-color: #edeff1;
        text-shadow: 0px 0px 4px #98a6ad;
        background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
    }

    .quiz-medal-circle.quiz-medal-circle-bronze {
        box-shadow: inset 0 0 0 #955405, 2px 2px 0 rgba(0, 0, 0, 0.08);
        border-color: #f7bb23;
        text-shadow: 0 0 4px #7d4604;
        background: linear-gradient(to bottom right, #df7e08 50%, #c67007 50%);
    }

.quiz-medal-ribbon {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 6px 10px;
    width: 0;
    height: 20px;
    top: 50px;
}

.quiz-medal-ribbon-left {
    border-color: #FC402D #FC402D transparent #FC402D;
    left: 8px;
    transform: rotate(20deg) translateZ(-32px);
}

.quiz-medal-ribbon-right {
    left: 28px;
    border-color: #f31903 #f31903 transparent #f31903;
    transform: rotate(-20deg) translateZ(-48px);
}

.ribbon-row {
    display: table;
    width: 100%;
    height: 100%;
    margin: auto;
}

.ribbon-block {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.ribbon-row h1 {
    position: relative;
    display: inline-block;
    font-family: "Times New Roman", times, serif;
    font-weight: 500;
    letter-spacing: 0.15em;
    white-space: nowrap;
    text-align: center;
    font-size: .5em;
    text-transform: uppercase;
    text-shadow: none !important;
}

    .ribbon-row h1:after, .ribbon-row h1:before {
        content: " ";
        display: block;
        position: absolute;
        bottom: -.5em;
        width: 1em;
        height: 100%;
        background-color: #69c48d;
        pointer-events: none;
    }

.ribbon-row h1:after {
    right: -.57em;
    z-index: -1;
}

.ribbon-row h1:before {
    bottom: auto;
    top: -.5em;
    left: -.57em;
    z-index: -1;
}

.ribbon-row h1 span {
    display: inline-block;
    position: relative;
    padding: .15em 2em;
    text-decoration: none;
    color: #192238;
    background-color: #8ed2a9;
    font-weight: bold;
}

.ribbon-row h1 span:after, h1 span:before {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -.5em;
    left: -.05em;
    pointer-events: none;
    -webkit-mask: none;
}

.ribbon-row h1 span:before {
    bottom: auto;
    top: -.5em;
    border-bottom: 0.5em solid #398e5b;
    border-left: .5em solid transparent;
}

.ribbon-row h1 span:after {
    left: auto;
    right: -.05em;
    border-top: 0.5em solid #398e5b;
    border-right: .5em solid transparent;
}

.gem-award div {
    position: relative;
    text-align: center;
}

#gem-topaz div {
    width: 40px;
    height: 67px;
    background-repeat: no-repeat;
    background-image: linear-gradient(25deg, #a2a62e 37%, transparent 37%), linear-gradient(-25deg, transparent 37%, #a2a62e 37%), linear-gradient(-25deg, #c0c24e 37%, transparent 37%), linear-gradient(25deg, transparent 37%, #c0c24e 37%), linear-gradient(135deg, transparent 42%, #7c8539 42%, #7c8539 70%, transparent 70%), linear-gradient(-135deg, transparent 42%, #dedb97 42%, #dedb97 70%, transparent 70%), linear-gradient(45deg, transparent 42%, #b8b63d 42%, #b8b63d 70%, transparent 70%), linear-gradient(-45deg, transparent 42%, #c6c961 42%, #c6c961 70%, transparent 70%), linear-gradient(-45deg, transparent 35%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 40%, transparent 40%, transparent 44%, rgba(255, 255, 255, 0.5) 44%, rgba(255, 255, 255, 0.5) 55%, transparent 55%), linear-gradient(90deg, #d1d98b, #d1d98b);
    background-size: 30% 50%, 30% 40%, 30% 50%, 30% 40%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 40% 50%, 40% 50%;
    background-position: 0 3%, 0 67.5%, 100% 3%, 100% 67.5%, 0 0, 100% 0, 0 100%, 100% 100%, 50% 50%, 50% 50%;
    text-align: center;
    text-shadow: 1px 1px 1px #4e5318, 0 0 0 #4e5318, 1px 1px 1px #4e5318;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
    top: 0px;
}

#gem-amethyst div {
    width: 40px;
    height: 67px;
    background-repeat: no-repeat;
    background-image: linear-gradient(25deg, #9132a8 37%, transparent 37%), linear-gradient(-25deg, transparent 37%, #9132a8 37%), linear-gradient(-25deg, #a449ba 37%, transparent 37%), linear-gradient(25deg, transparent 37%, #a449ba 37%), linear-gradient(135deg, transparent 42%, #763a85 42%, #763a85 70%, transparent 70%), linear-gradient(-135deg, transparent 42%, #dd99de 42%, #dd99de 70%, transparent 70%), linear-gradient(45deg, transparent 42%, #b93db7 42%, #b93db7 70%, transparent 70%), linear-gradient(-45deg, transparent 42%, #c963cb 42%, #c963cb 70%, transparent 70%), linear-gradient(-45deg, transparent 35%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 40%, transparent 40%, transparent 44%, rgba(255, 255, 255, 0.5) 44%, rgba(255, 255, 255, 0.5) 55%, transparent 55%), linear-gradient(90deg, #d98dd5, #d98dd5);
    background-size: 30% 50%, 30% 40%, 30% 50%, 30% 40%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 40% 50%, 40% 50%;
    background-position: 0 3%, 0 67.5%, 100% 3%, 100% 67.5%, 0 0, 100% 0, 0 100%, 100% 100%, 50% 50%, 50% 50%;
    text-align: center;
    text-shadow: 1px 1px 1px #185332, 0 0 0 #185332, 1px 1px 1px #185332;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
    top: 0px;
}

#gem-emerald div {
    width: 40px;
    height: 67px;
    background-repeat: no-repeat;
    background-image: linear-gradient(25deg, #36a265 37%, transparent 37%), linear-gradient(-25deg, transparent 37%, #36a265 37%), linear-gradient(-25deg, #44c17b 37%, transparent 37%), linear-gradient(25deg, transparent 37%, #44c17b 37%), linear-gradient(135deg, transparent 42%, #3db974 42%, #3db974 70%, transparent 70%), linear-gradient(-135deg, transparent 42%, #a0e0bc 42%, #a0e0bc 70%, transparent 70%), linear-gradient(45deg, transparent 42%, #3db974 42%, #3db974 70%, transparent 70%), linear-gradient(-45deg, transparent 42%, #63cb91 42%, #63cb91 70%, transparent 70%), linear-gradient(-45deg, transparent 35%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 40%, transparent 40%, transparent 44%, rgba(255, 255, 255, 0.5) 44%, rgba(255, 255, 255, 0.5) 55%, transparent 55%), linear-gradient(90deg, #8dd9af, #8dd9af);
    background-size: 30% 50%, 30% 40%, 30% 50%, 30% 40%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 40% 50%, 40% 50%;
    background-position: 0 3%, 0 67.5%, 100% 3%, 100% 67.5%, 0 0, 100% 0, 0 100%, 100% 100%, 50% 50%, 50% 50%;
    text-align: center;
    text-shadow: 1px 1px 1px #185332, 0 0 0 #185332, 1px 1px 1px #185332;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
    top: 0px;
}

#gem-sapphire div {
    width: 40px;
    height: 67px;
    background-repeat: no-repeat;
    background-image: linear-gradient(25deg, #3a36a2 37%, transparent 37%), linear-gradient(-25deg, transparent 37%, #3a36a2 37%), linear-gradient(-25deg, #5044c1 37%, transparent 37%), linear-gradient(25deg, transparent 37%, #5044c1 37%), linear-gradient(135deg, transparent 42%, #473db9 42%, #473db9 70%, transparent 70%), linear-gradient(-135deg, transparent 42%, #a4a0e0 42%, #a4a0e0 70%, transparent 70%), linear-gradient(45deg, transparent 42%, #413db9 42%, #413db9 70%, transparent 70%), linear-gradient(-45deg, transparent 42%, #6563cb 42%, #6563cb 70%, transparent 70%), linear-gradient(-45deg, transparent 35%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 40%, transparent 40%, transparent 44%, rgba(255, 255, 255, 0.5) 44%, rgba(255, 255, 255, 0.5) 55%, transparent 55%), linear-gradient(90deg, #918dd9, #918dd9);
    background-size: 30% 50%, 30% 40%, 30% 50%, 30% 40%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 40% 50%, 40% 50%;
    background-position: 0 3%, 0 67.5%, 100% 3%, 100% 67.5%, 0 0, 100% 0, 0 100%, 100% 100%, 50% 50%, 50% 50%;
    text-align: center;
    text-shadow: 1px 1px 1px #1e1853, 0 0 0 #1e1853, 1px 1px 1px #1e1853;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
    top: 0px;
}

#gem-ruby div {
    width: 40px;
    height: 67px;
    background-repeat: no-repeat;
    background-image: linear-gradient(25deg, #a8332f 37%, transparent 37%), linear-gradient(-25deg, transparent 37%, #a8332f 37%), linear-gradient(-25deg, #bd4f4b 37%, transparent 37%), linear-gradient(25deg, transparent 37%, #bd4f4b 37%), linear-gradient(135deg, transparent 42%, #87433a 42%, #87433a 70%, transparent 70%), linear-gradient(-135deg, transparent 42%, #de9f97 42%, #de9f97 70%, transparent 70%), linear-gradient(45deg, transparent 42%, #b8493d 42%, #b8493d 70%, transparent 70%), linear-gradient(-45deg, transparent 42%, #c96565 42%, #c96565 70%, transparent 70%), linear-gradient(-45deg, transparent 35%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 40%, transparent 40%, transparent 44%, rgba(255, 255, 255, 0.5) 44%, rgba(255, 255, 255, 0.5) 55%, transparent 55%), linear-gradient(90deg, #d98f8f, #d98f8f);
    background-size: 30% 50%, 30% 40%, 30% 50%, 30% 40%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 40% 50%, 40% 50%;
    background-position: 0 3%, 0 67.5%, 100% 3%, 100% 67.5%, 0 0, 100% 0, 0 100%, 100% 100%, 50% 50%, 50% 50%;
    text-align: center;
    text-shadow: 1px 1px 1px #521b17, 0 0 0 #521b17, 1px 1px 1px #521b17;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
    top: 0px;
}

#gem-diamond div {
    width: 40px;
    height: 67px;
    background-repeat: no-repeat;
    background-image: linear-gradient(25deg, #329aa8 37%, transparent 37%), linear-gradient(-25deg, transparent 37%, #329aa8 37%), linear-gradient(-25deg, #4bb7bf 37%, transparent 37%), linear-gradient(25deg, transparent 37%, #4bb7bf 37%), linear-gradient(135deg, transparent 42%, #3a8582 42%, #3a8582 70%, transparent 70%), linear-gradient(-135deg, transparent 42%, #9bdee0 42%, #9bdee0 70%, transparent 70%), linear-gradient(45deg, transparent 42%, #3cb8ba 42%, #3cb8ba 70%, transparent 70%), linear-gradient(-45deg, transparent 42%, #69dbd9 42%, #69dbd9 70%, transparent 70%), linear-gradient(-45deg, transparent 35%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 40%, transparent 40%, transparent 44%, rgba(255, 255, 255, 0.5) 44%, rgba(255, 255, 255, 0.5) 55%, transparent 55%), linear-gradient(90deg, #9ce6e6, #9ce6e6);
    background-size: 30% 50%, 30% 40%, 30% 50%, 30% 40%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 40% 50%, 40% 50%;
    background-position: 0 3%, 0 67.5%, 100% 3%, 100% 67.5%, 0 0, 100% 0, 0 100%, 100% 100%, 50% 50%, 50% 50%;
    text-align: center;
    text-shadow: 1px 1px 1px #185332, 0 0 0 #185332, 1px 1px 1px #185332;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
    top: 0px;
}

    .gem-award div i {
        height: 80px;
        color: #ffffff;
        line-height: 80px;
        vertical-align: middle;
        font-size: 16px;
        margin-top: -7px !important;
    }

.worth {
    width: 100%;
}

    .worth .gold {
        font-weight: bold;
        color: gold;
    }

    .worth .silver {
        font-weight: bold;
        color: silver;
    }

    .worth .copper {
        font-weight: bold;
        color: orange;
    }

.repair-item {
    min-width: 200px;
    display: inline-block;
    font-weight: bold;
}