.audio-controls {
    position: absolute;
    right: 26px;
    height: 100px;
    border: solid 1px #ccc;
    top: 208px;
    width: 215px;
    z-index: 100;
    padding: 5px;
    border-radius: 5px;
}

    .audio-controls div {
        text-align: center;
        color: #ccc;
        font-size: 12px;
        font-weight: bold;
        padding: 5px
    }

        .audio-controls div button {
            border-radius: 5px;
            margin-left: 10px;
            background-color: #222;
            border: solid 1px #ccc;
            color: #ccc;
        }

    .audio-controls span {
        display: inline-block;
        color: #ccc;
        vertical-align: top;
        width: 30px;
        text-align: right;
        margin-right: 5px;
        font-size: 10px;
    }

.slider {
}
